# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Cut The Rope Clone.iml
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\User\Desktop\Cut The Rope Clone\.idea\.idea.Cut The Rope Clone\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
